.jumbotron {background-image: url(https://images.megapixl.com/5015/50157085.jpg); background-repeat: no-repeat; background-size: cover; color: white;}
body {background-color: yellow;font-family: 'Montez';font-size: 22px; background-image: url(https://i.pinimg.com/originals/e8/a9/9f/e8a99fe2d11eccb439be84db48c1fc07.jpg);background-position: center; background-size:cover; background-repeat: no-repeat;}
panel-heading {background-color: #BF0404;}
h1_class {color: white;font-weight:700;}
imgDiv {width:250px; height:300px; background-color:#BF0404;}
imgDiv:hover {opacity:.7;}
button {width: 100%;height: 100%;}

/*#top {background-image: url(../Images/costume_bg.jpg); background-position: center; background-size:cover; background-repeat: no-repeat;margin-bottom:30px;}*/
#submit {width:150px;margin-top:10px;}
#message_area {background-color:lightcyan; opacity:.8; width:70%; margin:auto;color:black;text-align: center;font-size:1.5em; }

.comment_img{width: 100px; position:fixed;z-index: 1; right:0;bottom:0;}
.btn_img_class {border: 5px solid #BF0404;}
.btn_img_div {margin:5px 0;}
.btn_img_class:hover {opacity: .8; }
.top-buffer {margin-top:20px;}
.panel_panel-primary {background-color: #BF0404;}
.panel-title {color: white;}
.footer {color: white;}
.h1_class {columns: white;}

audio {display: none;}

.h1_class {color: white;}
label {color: white;}